// Menu btn

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include ease-out;

  .left {
    background: url("../img/swodLeft.png");
  }

  .right {
    background: url("../img/swodRight.png");
  }

  .btn-line {
    width: 60px;
    height: 15px;
    background-size: cover;
    @include ease-out;
  }

  //Rotate into X with menu lines
  &.close {
    transform: rotate(720deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(-45deg) translate(-10px, 5px);
      }

      &:nth-child(2) {
        transform: rotate(45deg) translate(-4px, -3px);
      }
    }
  }
}

//Menu overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 7);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &-branding {
    background: darken($primary-color, 2);
    transform: translate3d(0, 100%, 0);
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portraitDark.jpg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
      background-size: cover;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include ease-out;

    &:hover {
      color: $secondary-color;
    }
  }
}

//Delay each nav-item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
